.home-slider-5 .home-slider-main-5 .home5-slider .img-back{
    width: 100%;
    height: 300px!important;
}
.home-slider-5 .home-slider-main-5 .home5-slider{
    position: relative;
}
.cate-image{
    text-align: center;
}
.cate-image span{
    margin-top: 10px;
    font-size:14px;
    font-weight: 600;
}
.home5-category.mt-custom{
    margin-top: 122px;
}
.top-5{
    /* background: #fff; */
    /* max-width: 100%; */
    /* padding: 0px 20px; */
}
.top-news{
    background-color: #fff;
    max-width: 100%;
    padding: 0px 20px;
}
.top-5 .header-area{
    background-color: #ededed;
}
.home5-category-top .cate-image img{
    width: 85px;
}
.home5-category-top{
    padding:20px 0px;
}
.deal5-back .deal-area5 .deal-content h2{
    font-size: 40px;
}
.deal5-back{
    height: 400px;
    background-attachment: fixed!important;
}


.t-banner1 .home-offer-banner{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
}
.t-banner1 .home-offer-banner .o-t-banner{
    width: calc(33% - 30px);
    margin-left: 30px;
    position: relative;
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b{
    display: block;
    overflow: hidden;
    position: relative;
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b::before,
.t-banner1 .home-offer-banner .o-t-banner a.image-b::after{
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    z-index: 1;
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b::before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b::after{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b:hover::after,
.t-banner1 .home-offer-banner .o-t-banner a.image-b:hover::before{
    opacity: 1;
    visibility: visible;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.t-banner1 .home-offer-banner .o-t-banner:hover a.image-b img{
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.t-banner1 .home-offer-banner .o-t-banner a.image-b::before,
.t-banner1 .home-offer-banner .o-t-banner a.image-b::after,
.t-banner1 .home-offer-banner .o-t-banner a.image-b:hover::after,
.t-banner1 .home-offer-banner .o-t-banner a.image-b:hover::before,
.t-banner1 .home-offer-banner .o-t-banner a.image-b img,
.t-banner1 .home-offer-banner .o-t-banner:hover a.image-b img{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.t-banner1 .home-offer-banner .o-t-banner .o-t-content{
    width: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 30px;
}
.t-banner1 .home-offer-banner .o-t-banner .o-t-content h6{
    font-size: 22px;
    color: #000;
}
.t-banner1 .home-offer-banner .o-t-banner .o-t-content a{
    margin-top: 21px;
}
.t-banner1 .home-offer-banner .o-t-banner .banner-color h6{
    color: #000;
}

.search-div{
    margin-top: 30px;
}

.footer-logo {
    width: 82%;
}

.footer-appstore{
    width: 150px;
}

.footer-playtore{
    width: 90%;
}